.wrapper {
  display: flex;
  flex-wrap: wrap;

  width: 90%;
  max-width: 400px;
  margin: auto;
  background-color: var(--bgSecondary);
  padding: 20px;
  border-radius: var(--borderRadius);
}

.wrapper > p {
  width: 100%;
  color: var(--bgText);
  text-align: center;
  padding: 10px;
}

.selectContainer {
  width: 100%;
}

.button {
  background: var(--fgPrimary);
  color: var(--fgSecondary);
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  border-radius: var(--borderRadius);
  border-width: 0;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.logo {
  margin: auto;
  width: 250px;
}
