.card {
  background: var(--bgSecondary);
  width: 90%;
  height: 90%;
  padding: 10px;
  max-width: 250px;
  max-height: 350px;
  margin: 10px auto;
  border-radius: var(--borderRadius);
}

.card > img {
  border-radius: var(--borderRadius);
  width: 100%;
  max-width: 250px;
}

.card__text {
  color: var(--bgText);
  text-align: center;
  margin: 50px;
}

.card__buttons {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nftName {
  text-align: center;
  color: var(--fgText);
}